header {
    background-color: white; 
    top: 0px; 
    height: 65px; 
    font-family: "Georgia";
    width: 100%; 
    border-style: solid; 
    border-width: 1px; 
    border-color: lightgray; 
    color: #777777;
    margin: 0; 



}

#myName {
    color: white; 
    background-color: #4aaaa5;
    margin: 0; 
    text-align: center; 
    padding: 20px; 
    float: left; 
    margin-left: 100px; 
    font-size: 22px; 
    
}

.buttons {
    float: right; 
    padding: 20px; 
    padding-right: 0px; 
    height: 75px; 
    margin-right: 100px; 
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

h2 {
    display: inline; 
    margin: 15px; 
    font-size: 12px; 
    font-family: "arial";
    text-decoration: none; 
}

h3 {
    color: #4aaaa5;
    font-size: 22px; 
    padding-left: 15px; 

}
h4 {
    position: absolute; 
    background-color: #4aaaa5;
    text-align: center;
    margin: 300px auto;
    padding: 8px;
    color: whitesmoke;
    font-size: 16px; 
    top: -150px; 
    left: 0px; 
    width: 184px; 
    
}

.contentBox {
    margin-left: 100px; 
    margin-right: 100px; 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.5;
    color: #777777;
    padding: 20px; 
    background-color: white; 
    height: 100%;
    margin-top: 40px; 
    margin-bottom: 40px; 
    border-style: solid; 
    border-width: 1px; 
    border-color: #dddddd; 

}

html { 
    background: url("../images/dust_scratches.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }

hr {
      /* margin: 20px; */
      width: 75%;
      color: lightgray;

  }

.headerContent {
      width: 960px;

  }
  
body {
        margin: 0; 

    }

.headshot {
    padding: 20px; 
    float: left; 
    height: 270px; 
    width: 200px; 

}

p {
    padding: 20px; 

}

#cr {
    padding: 0;
    margin-top: 0px; 

}
.portfolioContentBox {
    height: 800px; 
}

/* ALL PHOTOS ON PORTFOLIO PAGE */

  .photo {
    position: relative;
    height: 100px; 
    width: 200px; 
    margin: 20px; 
    left: 20px; 
    float: left; 

  }
  .climbing {
    height: 200px; 
    width: 200px; 
    float: left; 
}

.camping {
    height: 200px; 
    width: 200px; 
    float: left; 
}

.biking {
    height: 200px; 
    width: 200px;    
    float: left; 
   
}

.friends {
    height: 200px; 
    width: 200px; 
    float: left; 
}

.plants {
    height: 200px; 
    width: 200px; 
    float: left; 
}

/* end of photos  */

.inputs {
    margin: 0px; 
    text-align: center; 
}

.yourinfo {
    margin: 0; 
    padding: 0; 
}
form {
    margin: 0 auto; 
    padding: 20px; 
    clear: both; 
}

#cr {
    clear: both; 
}


@media only screen and (max-width: 980px){

}


@media only screen and (max-width: 768px){
    
    h2 {
    margin: 2px; 
    }

    .portfolioContentBox {
        height: 2500px; 
    }
    
}

@media only screen and (max-width: 640px){
   
    header {
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 51px; 
    background-color: #4aaaa5;
    }

    #myName {
        text-align: left; 
        margin-left: 0px; 
        /* width: 50px;
        height: 77px;  */
        font-size: 12px; 
        float:left;
    }

    .buttons {
        padding: 5px; 
        margin: 40px; 
        height: 72px; 
        float: right; 
        margin: 0px; 
        padding-top: 15px; 
    }
    h2 {
        margin: 2px; 
    }

    .contentBox {
        width: 100%; 
        margin: 0px; 
        margin-top: 20px; 
        padding-left: 0px; 
        height: auto; 

    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .paragraphs {
        clear: both; 
    }

    .headshot {
    display: block; 
    margin: auto; 
    float: none; 
    }
}

.footer1 {

    margin: 0; 
    width: 100%; 
    height: 10px; 
    bottom: 25px; 
    background-color: #4aaaa5; 


}
.footer2 {
    width: 100%; 
    height: 30px; 
    margin: 0; 
    background-color: #666666;
    text-align: absolute; 
    color: #ffffff;
    font-size: 10px; 
    padding-top: 20px; 
    left: 0;
    bottom: 0;
    width: 100%;
}

.footers {
        margin: 0 auto; 
        text-align: center; 
    
    } 
